@page "/guidgenerator"
@using JustTools.Forms

<h3>GUID Generator</h3>

@inject IJSRuntime JsRuntime

<div class="form-group">
    <div class="form-inline">
        <input class="form-control" readonly value="@_guid" />
        <button class="btn btn-primary" @onclick="CopyGuid">Copy</button>
    </div>
</div>

<EditForm Model="@_form" OnValidSubmit="@GenerateGuid">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>
        <InputCheckbox @bind-Value="_form.AddBraces" />
        Add Braces
    </label>
    <button class="form-control" type="submit">Generate GUID</button>
</EditForm>

@code {

    private string _guid;
    private GuidGeneratorForm _form;

    protected override void OnInitialized()
    {
        _form = new GuidGeneratorForm();
        GenerateGuid();
    }

    private void GenerateGuid()
    {
        _guid = Guid.NewGuid().ToString();
        if (_form.AddBraces)
            _guid = "{" + _guid + "}";
    }

    private async void CopyGuid()
    {
        await JsRuntime.InvokeVoidAsync("clipboardCopy.copyText", _guid);
    }

}
