@page "/counter"

<h1>Counter</h1>

<p>Current Value: @_currentValue</p>

<button class="btn btn-primary" @onclick="IncrementValue">Increment Value</button>

<button class="btn btn-primary" @onclick="DecrementValue">Decrement Value</button>

@code
{

    private int _currentValue;

    private void IncrementValue()
    {
        _currentValue++;
    }

    private void DecrementValue()
    {
        _currentValue--;
    }

}