@page "/externaltools"

<h3>External Tools</h3>

<p>
    A suite of free downloadable mini-tools used for specific tasks!
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Links</th>
    </tr>
    <tr>
        <td>MassFileRename <b>(CTO)</b></td>
        <td>Rename massive amount of files at one time!</td>
        <td>Coming Soon!</td>
    </tr>
    <tr>
        <td>FileSystemMonitor <b>(CTO)</b></td>
        <td>Track and monitor file changes and updates!</td>
        <td>Coming Soon!</td>
    </tr>
    <tr>
        <td>Diffchecker</td>
        <td>Compare content differences between two files!</td>
        <td><a href="https://www.diffchecker.com" target="_blank">Website</a></td>
    </tr>
    <tr>
        <td>CURL to C# Converter</td>
        <td>Converts CURL commands to C# code!</td>
        <td><a href="https://curl.olsh.me" target="_blank">Website</a></td>
    </tr>
</table>