@page "/externaltools"

<h3>External Tools</h3>

<p>
    A suite of free downloadable mini-tools used for specific tasks!
</p>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Download</th>
    </tr>
    <tr>
        <td>MassFileRename</td>
        <td>Rename massive amount of files at one time!</td>
        <td>Coming Soon!</td>
    </tr>
    <tr>
        <td>FileSystemMonitor</td>
        <td>Track and monitor file changes and updates!</td>
        <td>Coming Soon!</td>
    </tr>
    <tr>
        <td>DifferenceVisualizer</td>
        <td>Visualize difference between two files!</td>
        <td>Coming Soon!</td>
    </tr>
</table>
