@page "/"

<h1>Hello World!</h1>

This project is currently work-in-progress! Check out this project on GitHub by clicking the link at the top-right corner or <a href="https://github.com/dentolos19/CommonToolsOnline">click me</a>.
