@page "/"

<h1>Hello World!</h1>

This project is nearing completion with 3 out of 4 working tools. If you want to suggest a tool to be added into this website, <a href="https://dentolos19.github.io/contact">email me</a>, or you could contribute to the <a href="https://github.com/dentolos19/CommonToolsOnline">project</a>.