@page "/PasswordGenerator"

@inject IJSRuntime JsRuntime

<h1>Password Generator</h1>

<div class="form-group">
    <div class="form-inline">
        <input class="form-control" readonly value="@_password"/>
        <button class="btn btn-primary" @onclick="CopyPassword">Copy</button>
    </div>
</div>


<EditForm Model="@_form" OnValidSubmit="@GeneratePassword">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Password Length</label>
        <RadzenNumeric class="form-control" TValue="int" @bind-Value="_form.PasswordLength" Min="8" Max="64"/>
    </div>
    <div class="form-group">
        <RadzenCheckBox TValue="bool" @bind-Value="_form.UseUppercaseAlphabets" />
        <RadzenLabel Text="Use Uppercase Alphabets"/>
    </div>
    <div class="form-group">
        <RadzenCheckBox TValue="bool" @bind-Value="_form.UseLowercaseAlphabets" />
        <RadzenLabel Text="Use Lowercase Alphabets" />
    </div>
    <div class="form-group">
        <RadzenCheckBox TValue="bool" @bind-Value="_form.UseNumberCharacters" />
        <RadzenLabel Text="Use Number Characters" />
    </div>
    <div class="form-group">
        <RadzenCheckBox TValue="bool" @bind-Value="_form.UseCustomCharacters" />
        <RadzenLabel Text="Use Custom Alphabets" />
    </div>
    <div class="form-group">
        <label>Custom Characters</label>
        <RadzenTextBox class="form-control" @bind-Value="_form.CustomCharacters" />
    </div>
    <RadzenButton class="form-control" ButtonType="ButtonType.Submit" Text="Generate Password"/>
</EditForm>

@code
{

    private string _password;
    private PasswordGeneratorForm _form;

    protected override void OnInitialized()
    {
        _form = new PasswordGeneratorForm();
        GeneratePassword();
    }

    private void GeneratePassword()
    {
        var random = new Random();
        var characters = default(string);
        if (_form.UseUppercaseAlphabets)
            characters += "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        if (_form.UseLowercaseAlphabets)
            characters += "abcdefghijklmnopqrstuvwxyz";
        if (_form.UseNumberCharacters)
            characters += "1234567890";
        if (_form.UseCustomCharacters)
            characters += _form.CustomCharacters;
        _password = string.IsNullOrWhiteSpace(characters) ? "dud select a option bruh" : new string(Enumerable.Repeat(characters, _form.PasswordLength).Select(index => index[random.Next(index.Length)]).ToArray());
    }

    private async void CopyPassword()
    {
        await JsRuntime.InvokeVoidAsync("clipboardCopy.copyText", _password);
    }

}