@page "/PasswordGenerator"

<h1>Password Generator</h1>

<p>Your password is: @_password</p>

<EditForm Model="@_form" OnValidSubmit="@GeneratePassword">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Password Length</label>
        <InputNumber class="form-control" @bind-Value="_form.PasswordLength" />
    </div>
    <div>
        <label>
            Use Uppercase Characters:
            <InputCheckbox @bind-Value="_form.UseUppercaseAlphabets" />
        </label>
    </div>
    <div>
        <label>
            Use Lowercase Characters:
            <InputCheckbox @bind-Value="_form.UseLowercaseAlphabets" />
        </label>
    </div>
    <div>
        <label>
            Use Number Characters:
            <InputCheckbox @bind-Value="_form.UseNumberCharacters" />
        </label>
    </div>
    <div>
        <label>
            Use Custom Characters:
            <InputCheckbox @bind-Value="_form.UseCustomCharacters" />
        </label>
    </div>
    <div class="form-group">
        <label>Custom Characters</label>
        <InputText class="form-control" @bind-Value="_form.CustomCharacters" />
    </div>
    <button class="form-control" type="submit">Generate Password</button>
</EditForm>

@code
{

    private string _password;
    private PasswordGeneratorForm _form;

    protected override void OnInitialized()
    {
        _form = new PasswordGeneratorForm();
        GeneratePassword();
    }

    private void GeneratePassword()
    {
        var random = new Random();
        var characters = default(string);
        if (_form.UseUppercaseAlphabets)
            characters += "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        if (_form.UseLowercaseAlphabets)
            characters += "abcdefghijklmnopqrstuvwxyz";
        if (_form.UseNumberCharacters)
            characters += "1234567890";
        if (_form.UseCustomCharacters)
            characters += _form.CustomCharacters;
        _password = string.IsNullOrWhiteSpace(characters) ? "dud select a option bruh" : new string(Enumerable.Repeat(characters, _form.PasswordLength).Select(index => index[random.Next(index.Length)]).ToArray());

    }

}