@page "/PasswordGenerator"

<h1>Password Generator</h1>

<p>Your password is: @_password</p>

<button class="btn btn-primary" @onclick="GenerateAlphanumericPassword">Generate</button>

@code
{

    private string _password;

    protected override void OnInitialized()
    {
        GenerateAlphanumericPassword();
    }

    private void GenerateAlphanumericPassword()
    {
        var random = new Random();
        _password = new string(Enumerable.Repeat("ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789", 16).Select(index => index[random.Next(index.Length)]).ToArray());
    }

}
