@page "/PasswordGenerator"

<h1>Password Generator</h1>

<p>Your password is: @_password</p>

<EditForm Model="@_form" OnValidSubmit="@FormSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label>Password Length</label>
        <InputNumber bind-Value="_form.PasswordLength" @ class="form-control"/>
    </div>
    <button class="form-control" type="submit">Generate</button>
</EditForm>

@code
{

    private string _password;
    private PasswordGeneratorForm _form;

    protected override void OnInitialized()
    {
        _form = new PasswordGeneratorForm();
    }

    private void FormSubmit()
    {
        GenerateAlphanumericPassword(_form.PasswordLength);
    }

    private void GenerateAlphanumericPassword(int length)
    {
        var random = new Random();
        _password = new string(Enumerable.Repeat("ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789", length).Select(index => index[random.Next(index.Length)]).ToArray());
    }

}