@page "/textformatter"

<h3>Text Formatter</h3>

<EditForm Model="@_form" OnValidSubmit="@FormatText">
    <dataannotationsvalidator />
    <validationsummary />
    <div class="form-group">
        <InputSelect class="form-control" @bind-Value="@_form.Format">

            <optgroup label="Common Formatting Options" />

            <option value="Reverse">Reverse</option>

            <optgroup label="Advanced Formatting Options" />

            <option value="ToURLFormat">Convert To URL Format</option>
            <option value="FromURLFormat">Convert From URL Format</option>

            <optgroup label="Encoding/Decoding Options" />

            <option value="EncodeBase64">Encode To Base64</option>
            <option value="DecodeBase64">Decode From Base64</option>

        </InputSelect>
    </div>
    <div class="form-group">
        <InputTextArea class="form-control" @bind-Value="_form.Text" />
    </div>
    <button class="form-control" type="submit">Format Text</button>
</EditForm>

@code {

    private TextFormatterForm _form;

    protected override void OnInitialized()
    {
        _form = new TextFormatterForm();
    }

    private void FormatText()
    {
        switch (_form.Format.ToLower())
        {

            // Common Formatting Options

            case "reverse":
                _form.Text = new string(_form.Text.Reverse().ToArray());
                break;

            // Advanced Formatting Options

            case "tourlformat":
                _form.Text = Uri.EscapeDataString(_form.Text);
                break;

            case "fromurlformat":
                _form.Text = Uri.UnescapeDataString(_form.Text);
                break;

            // Encoding/Decoding Options

            case "encodebase64":
                _form.Text = Utilities.EncodeToBase64(_form.Text);
                break;

            case "decodebase64":
                _form.Text = Utilities.DecodeFromBase64(_form.Text);
                break;
        }
    }

}