@page "/ValueCounter"

<h1>Value Counter</h1>

<p>The current value is @_currentValue</p>

<button class="btn btn-primary" @onclick="Increment">Increment Value</button>

<button class="btn btn-primary" @onclick="Decrement">Decrement Value</button>

@code
{

    private int _currentValue;

    private void Increment()
    {
        _currentValue++;
    }

    private void Decrement()
    {
        _currentValue--;
    }

}