@page "/"

<h3>Welcome!</h3>

<p>
    If you want to suggest a tool to be added into this website, <a href="https://github.com/dentolos19/JustMyTools/issues">create an issue</a>, or you could contribute to the <a href="https://github.com/dentolos19/CommonToolsOnline">project</a>.
</p>
