@page "/"

<h3>About This Project</h3>

<p>
    Welcome to DentoTools! This website is made with a purpose of providing common 
    and essentials tools that may help in specific problems!
</p>

<p>
    The project is still in an early state where there isn't much tools provided. 
    So I want to enlist people who can help in adding new tools into this 
    project! Please contribute by forking and submitting a pull request via 
    <a href="https://github.com/dentolos19/DentoTools">this project's repository</a>.
</p>

<h4>Preview Tools</h4>

<ul class="list-group">
    <li class="list-group-item">
        <a href="web-api-tester">
            <span class="oi oi-code"></span> Web API Tester
        </a>
    </li>
</ul>