@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4">
        <a class="ml-md-auto" href="https://github.com/dentolos19/DentoTools" target="_blank">GitHub</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>