<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DentoTools</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-question-mark" aria-hidden="true"></span> About This Project
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="guid-generator">
                <span class="oi oi-file" aria-hidden="true"></span> GUID Generator
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="password-generator">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Password Generator
            </NavLink>
        </li>
    </ul>
</div>

@code
{

    private bool CollapseNavMenu { get; set; } = true;

    private string NavMenuCssClass => CollapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
    }

}