<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DentoTools</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="oi oi-menu"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> About This Project
            </NavLink>
        </li>
    </ul>
    <div class="separator"></div>
    <div class="scroller">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="password-generator">
                    <span aria-hidden="true" class="oi oi-credit-card"></span> Password Generator
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="qr-code-generator">
                    <span aria-hidden="true" class="oi oi-aperture"></span> QR Code Generator
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<style>
    .scroller
    {
        height: calc(100vh - 160px) !important;
        overflow-y: auto;
        width: 287px;
    }

    .scroller::-webkit-scrollbar, scrollbar-thumb.scroller::-webkit-scrollbar-thumb
    {
        border-radius: 4px;
        height: 110px;
        position: center;
        width: 8px;
    }

    .scroller::-webkit-scrollbar-thumb
    {
        border-radius: 4px;
        box-shadow: inset 0 0 0 10px #313C75;
    }

    .scroller::-webkit-scrollbar-track
    {
        width: 28px;
    }

    .separator
    {
        border: 1px solid #FFFFFF;
        margin: 1rem;
        margin-top: 0px;
        opacity: 0.14;
        width: 247px;
    }
</style>

@code
{

    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}